* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root{
  --one-color: #2E2D2D;
  --two-color: #131313;
  --text-color: #F2E1FD;
  --main-color: #A59ADB;
}

html{
  font-size: 60%;
  overflow-x: hidden;
}

body{
  background: var(--one-color);
  color: var(--text-color);
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent 90%,
    var(--main-color) 90%
  );
  background-size: 75px 75px; 
  opacity: 0.1; 
  z-index: -1;
}

.headerStart{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  border-bottom: 1px solid var(--main-color);
}

.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover{
  transform: scale(1.1);
}

.navbarStart a{
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbarStart a:hover,
.navbarStart a.active{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.hamburger-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section{
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.homeP{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-info{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

.switch {
  background-color: var(--one-color);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  border: 1px solid var(--text-color);
}

.switch:hover {
  background-color: var(--main-color);
}

span{
  color: var(--main-color);
}

.logo span{
  color: var(--main-color);
}

.home-info h3{
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-info h1{
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-image img{
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius:  5%;
  transition: 0.4s ease-in-out;
}

.home-info p{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.soc-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.soc-icons a:hover{
  color: var(--text-color);
  transform: scale(1.3)translateY(-5px);
  background-color: var(--main-color);
}

.grp{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing:  0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.grp:hover{
  transform: scale(1.05);
}

.groups{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.groups a:nth-of-type(2){
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.groups a:nth-of-type(2):hover{
  background-color: var(--main-color);
  color: black;
}

.home-text{
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.home-text span{
  position: relative;
}

.home-text span::before{
  content: "Web Developer";
  color: var(--main-color);
  animation: word 20s infinite;
}

.home-text span::after{
  content: "";
  background-color: var(--one-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--one-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s  infinite;
}

.infoAbout{
  margin-top: 3rem;
}

.infoTog{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
}

.infoTog p{
  margin-left: 10px;
}

.iconInfo{
  font-size: 15px;
}

@keyframes cursor{
  to{
    border-left: 2px solid var(--main-color);
  }
}

@keyframes word{
  0%,
  20%{
    content: "Frontend Designer";
  }
  21%,
  40%{
    content: "Web Designer";
  }
  41%,
  60%{
    content: "UI / UX Designer";
  }
  61%,
  80%{
    content: "Web Developer";
  }
  81%,
  100%{
    content: "Software Tester";
  }
}

@keyframes typing{
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%{
    width: calc(100% + 8px);
  }
}

.twoHeader{
  font-size: 5rem;
  gap: 10px;
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.educationBoxes {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.eduBox {
  width: 48%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);;
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.eduBox:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.eduCol{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.eduBox h1{
  font-size: 2rem;
  margin-bottom: 4rem;
}

.eduIconTog{
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* align-items: center; */
  justify-content: center;
}

.eduIconTog img{
  width: 3vw;
  height: 3vw;
}

.eduYears{
  margin-bottom: 5rem;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 80px;
}

.projectItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.projectName {
  font-size: 2rem;
  font-weight: bold;
}

.projectView {
  font-size: 1rem;
  color: var(--main-color);
  text-decoration: none;
  border: 1px solid var(--main-color);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projectView:hover {
  background-color: var(--main-color);
  color: white;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0;
}

.svgExpIcon img{
  width: 90px;
  height: 90px;
}

.svgExpIcon{
  position: relative;
  display: inline-block;
}

.svgExpIcon:hover{
  transform: scale(1.1);
}

.svgExpIconsContainer {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-wrap: wrap;          
  gap: 20px;                
  width: 100%;  
  margin-top: 20px;            
}

.tooltip {
  position: absolute;
  bottom: 90%;  
  left: 50%;
  transform: translateX(-50%);  
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  visibility: hidden; 
  opacity: 0;  
  transition: opacity 0.3s, visibility 0.3s;
}

.svgExpIcon:hover .tooltip {
  visibility: visible;  
  opacity: 1;  
  /* transform: scale(1.1); */
}

.jobBoxes {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  margin-top: 20px;
  align-items: center; 
}

.jobBox {
  width: 80%; 
  height: 200px;
  padding: 20px 20px 20px 20px;
  border: 2px solid var(--main-color); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.3); 
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 13px;
}

.jobBox:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.jobBox h1{
  margin-bottom: 3rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--one-color);
  color: var(--main-color);
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 9999; 
  pointer-events: auto; 
  border: 1px solid var(--main-color);
}

.scroll-to-top:hover {
  background-color: var(--main-color);
  color: white;
}


@media (max-width: 1285px) {
  html{
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header{
    padding: 2rem 3%;
  }

  section{
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 895px) {
  .hamburger-icon{
    display: block;
  }

  .navbarStart {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    transition: transform 0.3s ease;
  }
  
  .navbarStart.active {
    display: block;
  }

  .navbarStart a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }

  .homeP{
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }

  .home-info h3{
    font-size: 2.6rem;
  }

  .home-info h1{
    font-size: 8rem;
    margin-top: 3rem;
  }

  .home-info p{
    max-width: 600px;
    margin: 0 auto;
  }

  .home-image img{
    width: 56vw;
  }

  .educationBoxes{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .eduBox{
    width: 80%;
    height: 400px;
  }

  .infoTog p{
    margin-left: 8px;
  }

  .scroll-to-top {
    bottom: 30px;
    right: 30px;
    padding: 8px 11px;
    font-size: 10px;
  }
  
}